#one{
    grid-area: header;
    background-color: antiquewhite;
    border: 2px solid;
    margin: 10px;
}

#two{
    grid-area: menu;
    background-color: antiquewhite;
    border: 2px solid;
    margin: 10px;
}

#three {
    grid-area: main;
    background-color: antiquewhite;
    border: 2px solid;
    margin: 10px;
}

#four {
    grid-area: footer;
    background-color: antiquewhite;
    border: 2px solid;
    margin: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas:
    "header header header header header"
    "menu main main main main"
    "menu footer footer footer footer";
    background-color: aqua;
    text-align: center;
}
