#one{
    background-color: lightgreen;
    opacity: 0.1;
}

#two {
    background-color: lightgreen;
    opacity: 0.3;
}

#three {
    background-color: lightgreen;
    opacity: 0.6;
}

#four {
    background-color: lightgreen;
    opacity: 1;
}