div {
    position: relative;
    width: 100px;
    padding: 20px;
    background-color: #999999;
    color: white;
    border: 5px solid black;
    margin-left: 20px;
}

#one {
    z-index: 1;
}

#two {
    z-index: 2;
    top: -25px;
    left: 75px;
}

#three {
    z-index: 3;
    top: -50px;
    
}

#four {
    z-index: 4;
    top: -75px;
    left: 75px;
}