header{
    background-color: dodgerblue;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px dashed wheat;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background-color: rgb(30, 255, 109);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px dashed wheat;
    font-family: 'Courier New', Courier, monospace;
}

#intro{
    background-color: rgb(47, 87, 233);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px dashed lightcoral;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    background-color: rgb(56, 207, 221);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px dotted lightgoldenrodyellow;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    background-color: rgb(202, 98, 50);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px solid rgb(187, 17, 139);
    border-radius: 15px;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
}

.teacher{
    background-color: rgb(202, 98, 50);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px solid rgb(187, 17, 139);
    border-radius: 15px;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 2px 2px rgb(58, 137, 216);
}

#alice-review{
    background-color: rgb(202, 98, 50);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 10px solid rgb(187, 17, 139);
    border-radius: 15px;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 2px 2px rgb(58, 137, 216);
}

#videos{
    background-color: rgb(202, 98, 50);
        text-align: center;
        padding: 10px;
        margin: 10px;
        border: 10px solid rgb(187, 17, 139);
        border-radius: 15px;
        color: wheat;
        font-family: 'Courier New', Courier, monospace;
}

ul li a{
     
        text-decoration: none;
        
    
}
ul{list-style-type: none;}

ul li a:hover{
    background-color: lightcoral;
    color: white;
}

button:hover{
    color: burlywood;
    background-color: aqua;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    
}
ol{
    font-family: 'Courier New', Courier, monospace;
}

table,
th,
td{
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    
    
}

#table-i{
    display: flex;
    justify-content: center;
    text-align: center;
}

#twitw{
    display: flex;
    justify-content: center;
    text-align: center;
}

#footadd{
    display: flex;
    justify-content: center;
    text-align: center;
}
#butadd{
    
    display: flex;
    justify-content: center;
    text-align: center;
}
button{font-family: 'Courier New', Courier, monospace;}

table{
    box-shadow: 2px 2px 2px 1px rgba(000,000,000,2);
}

