.main-contant{
    background-color: #f6f0e2a1;
    padding: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

header{
    background-color: #f2c6de;
    padding: 10px;
    margin: 10px;
    border: 10px solid #dbcdf0;
    border-radius: 10px;
}

nav{
    background-color: #f2c6de;
    padding: 10px;
    padding-right: 45px;
    border: 10px solid #dbcdf0;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}

h2{
    padding: 10px;
    margin: 10px;
    border: 10px solid #f7d9c4;
    border-radius: 10px;
}

.info{
    background-color: #c6def1;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: #c9e4de;
    text-align: center;
    padding: 10px;
    border: 10px solid #dbcdf0;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

ul li a:hover{
    background-color: #c6def1;
    padding: 5px;
    font-size: 23px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

ul li{
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

img{
    border: 8px solid #f7d9c4;
    border-radius: 20px;
}

p{
    font-size: 20px;
}